body {
    text-align: center;
}

h1#title {
    font-family: 'Raleway', sans-serif;
}

div#current {
    text-align: left;
}

div#output {
    text-align: left;
}

.subtitle {
  font-weight: bold;
}

