h1#title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

div#control {
  text-align: center;
}

div#details {
  text-align: center;
}

.subtitle {
  font-weight: bold;
}

.left {
  text-align: center;
}